.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #6c7584;
  color: white;
  ul {
    display: flex;
    margin-right: 20px;
  }
  a.active {
    font-weight: bold;
    border-bottom: 2px solid white;
  }
}
